<div class="container">
  <header class="header">
      <div class="logo"><%= image_tag "exeed_logo.svg" %></div>
      <div class="menu-icon">
        <span></span>
        <span></span>
      </div>
      <div class="menu">
        <nav class="main-links">
          <ul>
            <li><a href="#">Services</a></li>
            <li><a href="#">Process</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
        <nav class="social-media-links">
          <ul>
            <li><%= image_tag "facebook.svg" %></li>
            <li><%= image_tag "instagram.png" %></li>
            <li><%= image_tag "linkedin.png" %></li>
          </ul>
        </nav>
      </div>
  </header>

  <section class="landing">
    <h1>Social Media Marketing Agency</h1>
    <h2><a href="#">Digitalize</a>Your Brand</h2>
  </section>

  <section class="services">
    <h1>Services</h1>

    <div class="colorbox"></div>
    <figure class="service-image">
      <%= image_tag "laptop.png" %>
    </figure>
    <section class="service-info">
      <h1>01. Website Design</h1>
      <p>Fully customized and impressive design that merges with an ultra intuitive user experience. From front-end to hosting we got you covered.</p>
    </section>

    <div class="colorbox"></div>
    <figure class="service-image">
      <%= image_tag "notebook.png" %>
    </figure>
    <section class="service-info">
      <h1>02. Content Creation</h1>
      <p>Words written as an immersive story that drives you towards action. Published through multiple communication channels including socila media on daily basis.</p>
    </section>

    <div class="colorbox"></div>
    <figure class="service-image">
      <%= image_tag "lens.png" %>
    </figure>
    <section class="service-info">
      <h1>03. Video Production</h1>
      <p>Follow a more visual and dynamic approach to engage your audience. Planning the filming concept making emphasis on production and editing.</p>
    </section>

    <div class="colorbox"></div>
    <figure class="service-image">
      <%= image_tag "phone.png" %>
    </figure>
    <section class="service-info">
      <h1>04. Digital Marketing</h1>
      <p>Use of proved marketing solutions on a wider internet based scope generating a major impact. Using all the trends, relevant technologies and services  to influence your social niche.</p>
    </section>

    <div class="colorbox"></div>
    <figure class="service-image">
      <%= image_tag "sliced_logo.png" %>
    </figure>
    <section class="service-info">
      <h1>05. Branding</h1>
      <p>Make your brand visible following a strategy that focuses on digital as the starting point. Build from scratch or reinvent your brand working together during the entire process to reach your target.</p>
    </section>
  </section>

  <section class="our-process">
    <h1>Our Process</h1>
    <div class="step concept">
      <h2>Step <strong>01</strong></h2>
      <p>We work starting from ideation and concept validation. We use sketches, wireframes and other abstract graphic representations to quickly structure a broad view of the project.</p>
      <h3>Concept</h3>

    </div>
    <div class="step design">
      <h2>Step <strong>02</strong></h2>
      <p>The creative stage is defined with more detail, in the context of an established main objective by the brand while considering the digital aspect. This step includes prototyping to get a better idea of the experience.</p>
      <h3>Design</h3>
    </div>
    <div class="step development">
      <h2>Step <strong>03</strong></h2>
      <p>Our development process follows an agile approach converting the design into a living dynamic entity that enhances the user experience. We fully optimize the performance, accessibility and other technical details.</p>
      <h3>Development</h3>
    </div>
    <div class="step marketing">
      <h2>Step <strong>04</strong></h2>
      <p>We use targeted digital marketing to engage and expand your audience using tested strategies and marketing plans. Our mission is to help your brand with solutions that get results before the great launch.</p>
      <h3>Marketing</h3>
    </div>
  </section>

  <section class="who-we-are">
    <h1>Who We Are</h1>
    <div class="philosophy">
      <h1>Philosophy</h1>
      <p>
        The work is as important as the
        fun we get from doing it. Such an
        authentic culture isn’t imposed,
        and can’t just be invented. It appears
        spontaneously when people who love
        creating, learning and growing get
        together, forming a team with ties that
        transcend everything.
      </p>
    </div>
    <div class="team">
      <%= image_tag "matt_dan.png" %>
      <div class="team-info">
        <h1>Team</h1>
        <p>Fully talented and dedicated team that puts emphasis on clean design following a structured process of development in all the client projects making sure it’s a master piece.</p>
        <p>Matt - Creative Director</p>
        <p>Dan - Technical Director</p>
      </div>
    </div>
  </section>

  <section class="work-with-us">
    <h1>Work With Us</h1>
    <form class="work-with-us-form" action="/" method="post">
      <label for="">01. Name:</label>
      <input type="text" name="" value="">
      <label for="">02. Email:</label>
      <input type="text" name="" value="">
      <label for="">03. Description:</label>
      <textarea name="name" rows="8"></textarea>
      <button type="submit" name="button" class="submit-button">Send</button>
    </form>
  </section>

  <footer class="footer">
    <h2>Where <strong>design</strong> meets <strong>functionality.</strong></h2>
    <nav>
      <ul>
        <li><a href="#">Services</a></li>
        <li><a href="#">Who we are</a></li>
        <li><a href="#">Work with us</a></li>
      </ul>
    </nav>
    <p>Exeed © 2019</p>
  </footer>
</div>
