<div class="container">
  <header class="header">
      <div class="logo"><%= image_tag "exeed_logo.svg" %></div>
      <div class="menu-icon" id="menu_icon"></div>
      <div class="menu">
        <nav class="main-links">
          <ul>
            <li><a href="#">Services</a></li>
            <li><a href="#">Process</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
        <nav class="social-media-links">
          <ul>
            <li><%= image_tag "facebook.svg" %></li>
            <li><%= image_tag "instagram.png" %></li>
            <li><%= image_tag "linkedin.png" %></li>
          </ul>
        </nav>
      </div>
  </header>

  <section class="landing">
    <h1>Social Media Marketing Agency</h1>
    <h2><a href="#"><div id="landing_text"></div></a>Your Brand</h2>
  </section>

  <section class="services">
    <h1>Services</h1>

    <div class="colorbox"></div>
    <figure class="service-image">
      <%= image_tag "laptop_opt.png" %>
    </figure>
    <section class="service-info">
      <h1>01. Website Design</h1>
      <p>Fully customized and impressive design that merges with an ultra intuitive user experience. From front-end to hosting we got you covered.</p>
    </section>

    <div class="colorbox"></div>
    <figure class="service-image">
      <%= image_tag "notebook_opt2.png" %>
    </figure>
    <section class="service-info">
      <h1>02. Content Creation</h1>
      <p>Words written as an immersive story that drives you towards action. Published through multiple communication channels including social media on a daily basis.</p>
    </section>

    <div class="colorbox"></div>
    <figure class="service-image">
      <%= image_tag "lens_opt2.png" %>
    </figure>
    <section class="service-info">
      <h1>03. Video Production</h1>
      <p>Follow a more visual and dynamic approach to engage your audience. Planning the filming concept making emphasis on production and editing.</p>
    </section>

    <div class="colorbox"></div>
    <figure class="service-image">
      <%= image_tag "phone_opt.png" %>
    </figure>
    <section class="service-info">
      <h1>04. Digital Marketing</h1>
      <p>Use of proved marketing solutions on a wider internet based scope generating a major impact. Using all the trends, relevant technologies and services  to influence your social niche.</p>
    </section>

    <div class="colorbox"></div>
    <figure class="service-image">
      <%= image_tag "sliced_logo_opt.png" %>
    </figure>
    <section class="service-info">
      <h1>05. Branding</h1>
      <p>Make your brand visible following a strategy that focuses on digital as the starting point. Build from scratch or reinvent your brand working together during the entire process to reach your target.</p>
    </section>
  </section>

  <section class="our-process">
    <h1>Our Process</h1>
    <div id="our_process_mobile"></div>
    <div id="our_process"></div>
  </section>

  <section class="who-we-are">
    <h1>Who We Are</h1>
    <div class="philosophy">
      <h1>Philosophy</h1>
      <p>
        The work is as important as the
        fun we get from doing it. Such an
        authentic culture isn’t imposed,
        and can’t just be invented. It appears
        spontaneously when people who love
        creating, learning and growing get
        together, forming a team with ties that
        transcend everything.
      </p>
    </div>
      <div class="philosophy">
        <h1>Team</h1>
        <p>Fully talented and dedicated team that puts emphasis on clean design following a structured process of development in all the client projects making sure it’s a master piece.</p>
      </div>
  </section>

  <section class="work-with-us">
    <form class="work-with-us-form" action="/" method="post">
      <h1>Work With Us</h1>
      <label for="">01. Name:</label>
      <input type="text" name="" value="">
      <label for="">02. Email:</label>
      <input type="text" name="" value="">
      <label for="">03. Description:</label>
      <textarea name="name" rows="8"></textarea>
      <button type="submit" name="button" class="submit-button" id="submit_button"></button>
    </form>
    <div class="enticement">
      <h3>Got a big idea? <br /> Let's see what we can make of it<span>.</span></h3>
      <div class="links">
        <a href="mailto:info@exeedmedia.com">info@exeedmedia.com</a>
        <ul class="social-media">
          <li><a href="#"><%= image_tag "facebook.svg" %></a></li>
          <li><a href="#"><%= image_tag "instagram.png" %></a></li>
          <li><a href="#"><%= image_tag "linkedin.png" %></a></li>
        </ul>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="content">
      <h2>Where <strong>design</strong> meets <strong>functionality.</strong></h2>
      <nav>
        <ul>
          <li><a href="#">Services</a></li>
          <li><a href="#">Who we are</a></li>
          <li><a href="#">Work with us</a></li>
          <ul class="social-media">
            <li><a href="#"><%= image_tag "facebook.svg" %></a></li>
            <li><a href="#"><%= image_tag "instagram.png" %></a></li>
            <li><a href="#"><%= image_tag "linkedin.png" %></a></li>
          </ul>
        </ul>
      </nav>
    </div>
    <p>Exeed © 2020</p>
  </footer>
</div>
